@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap'); 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
  
}

body {

    width: 100%;
      overflow-x: hidden;

      height: 100vh;
    
}